# OS
.DS_Store

# Docker
*.log
docker-data/
tmp/

# Env
.env
.envrc

# Database dumps
*.sql

# Node (por si luego agregas frontend)
node_modules/

# PHP vendor (si usas composer)
vendor/
# Uploads (NO subir)
app/VV/apps/Actividades/uploads/
app/VV/apps/Services/uploads/

# Config sensibles
app/VV/config.php
#app/VV/utilities/db/connection.php
