/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}


.image-container {
    text-align: center; /* Centra horizontalmente la imagen */
}

.image-container img {
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
}

  .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%; /* Para hacerlo circular */
        border: 25px solid #426e2f; /* Tamaño del borde y color */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        font-weight: bold; /* Hace que el texto sea negrita */
        font-size: 14px; /* Tamaño del texto */
        color: #fff; /* Color del texto */

    }


  .circle2 {
        width: 15px;
        height: 15px;
        border-radius: 50%; /* Para hacerlo circular */
        border: 25px solid #bfe3b0; /* Tamaño del borde y color */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        font-weight: bold; /* Hace que el texto sea negrita */
        font-size: 14px; /* Tamaño del texto */
        color: #fff; /* Color del texto */

    }



  .circle3 {
        width: 15px;
        height: 15px;
        border-radius: 50%; /* Para hacerlo circular */
        border: 25px solid #e67e22; /* Tamaño del borde y color */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        font-weight: bold; /* Hace que el texto sea negrita */
        font-size: 14px; /* Tamaño del texto */
        color: #fff; /* Color del texto */

    }



    

    .caret-custom{

     /* display: inline-block; */
     width: 0;
     height: 0;
     margin-left: 2px;
     border-top: 6px solid;
     border-right: 6px solid transparent;
     border-left: 6px solid transparent;


    }

    .logoVV{

    width: 200px;
    height: 50px;
    margin-top: 10px;
      
    }

    .closeTopic{
      color: red;
      font-size: 15px;
    }

    .disabled-link {
            pointer-events: none;
            color: gray;
           /* text-decoration: none;*/
            font-size: 15px;
        }

   .side-topic-active{
     background-color: #d4edda;
     color: #155724;
      /* background-color:  hsl(118.38deg 100% 73.3% / 73%); */

    }

     .side-topic-enc{
      /* background-color:  hsla(206, 100%, 73.3%, 1); */
      background-color: #cce5ff;
      color: #004085; 
    }


     .side-topic-cat{
      /* background-color:  hsl(38.08deg 100% 73.3% / 73%);*/
       background-color: #f0f4f8;
        color: #333;
    }

    .side-topic-rec{
       /*background-color: hsl(7.62deg 79.32% 37.41%); */
       background-color: #f8d7da;
    color: #721c24;

    }